<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
          list-style: none;
          padding: 0;
          margin: 0;
          width: 200px;
      }
      li{
      	clear: both;
      }
      li button{
      	-webkit-appearance: none;
      	border: none;
      	outline: none;
      	color: red;
      	float: right;
      	cursor: pointer;
      	font-size: 20px;
      }
    </style>
  </head>
  <body>
    <form id="form" method="post" action="/todos/create">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
      {% for d in data %}
      <li id = {{d.id}}>
      	<input class="check-completed" data-id="{{d.id}}" type="checkbox" {% if d.completed %} checked {% endif %} /> {{ d.description }} <button class="delete-button" data-id="{{d.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
    <script>
      //Update
      const checkboxes =document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
          const checkbox = checkboxes[i];
          checkbox.onchange = function(e) {
              console.log('event',e );
              const newCompleted = e.target.checked;
              const todoId = e.target.dataset['id'];
              fetch('/todos/' + todoId + '/set-completed', {
                  method: 'POST',
                  body: JSON.stringify({
                      'completed': newCompleted
                  }),
                  headers: {
                      'Content-Type': 'application/json'
                  }
              })
              .then(function() {
            document.getElementById('error').className = 'hidden';
        })
              .catch(function() {
          document.getElementById('error').className = '';
        })
          }
      }
      //Create
      const descInput = document.getElementById('description');
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': desc,
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log(jsonResponse)
          const li1 = document.createElement('input');
          li1.className = "check-completed";
          li1.type = 'checkbox';
          li1.setAttribute('data-id', jsonResponse['id']);
          li = document.createElement('li');
          li.id = jsonResponse['id'];
          li.appendChild(li1);
          const textNode = document.createTextNode(' '+desc);
          li.appendChild(textNode);
          const li2 = document.createElement('button');

          li2.onclick  = function(e) {
          	console.log(jsonResponse);
      		const todoId = e.target.dataset['id'];
      		document.getElementById(todoId).remove();
      		fetch('/todos/' + todoId, {
        		method: 'DELETE'
        	});
    	  }
          li2.className = "delete-button";
          li2.setAttribute('data-id', jsonResponse['id']);
          const crossNode = document.createTextNode("✗")
          li2.appendChild(crossNode)
          li.appendChild(li2);
          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
      //Delete
      const deleteBtns = document.querySelectorAll('.delete-button');
  	  for (let i = 0; i < deleteBtns.length; i++) {
    	const btn = deleteBtns[i];
    	btn.onclick = function(e) {
      		const todoId = e.target.dataset['id'];
      		document.getElementById(todoId).remove();
      		fetch('/todos/' + todoId, {
        		method: 'DELETE'
        	});
    }
  }
    </script>
  </body>
</html>